div#page {
  margin: auto;
  width: 860px;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.9em;
  color: #444444;
}

b {
  font-weight: bold;
  color: #2D516E;
}

div#header {
  padding-top: 10px;
  border-bottom: 1px dotted #aaaaaa;
}

a.logo {
  font-size: 2.4em;
  color: #1BA5E0;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}
a.logo:hover {
  color: #D67B4d;
}

div#navigation {
  display: inline-block;
  float : right;
}

a.nav-links {
  color: #333333;
  font-size: 1.0em;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 2.0em;
}

a.nav-links:hover {
  color: #D67B4D;
}

div#left-mast {
  height: 300px;
}

div#right-mast {
  float: right;
  width: 600px;
  margin: 15px;
}

p.description {
  line-height: 1.9em;
  font-size: 1.0em;
  margin-top: 10px;
}

a.inline {
  text-decoration: underline;
  color: #1B70E0;
}

a.inline:hover {
  text-decoration: none;
  color: #66A34E;
}

div#plot-here {
  margin-top: 30px;
}

div.button {
  display: inline-block;
  padding: 10px;
  background-color: #3E73B8;
  color: #ffffff;
  margin: 10px;
  cursor: pointer;
}
div.button:hover {
  background-color: #1B70E0;
}
