# Backup files
*~
*.swp

# Precompiled python
*.pyc

# js and css inside static (produced by makefile)
static/crayon*

# Eclipse project settings
.project
.settings/
.externalToolBuilders

# IDEA project settings
.idea
Crayon.iml
