
svg {
  border: 1px solid black;

  svg {
    border: 0px;
  }
}

.context {
  fill: none;
  cursor: default;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  stroke: none;
  fill: black;
  font-family: sans-serif;
  font-size: 11px;
}

.brush .extent {
  stroke: blue;
  stroke-opacity: 0.3;
  fill: blue;
  fill-opacity: 0.1;
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  stroke: none;
  fill: black;
  font-family: sans-serif;
  font-size: 11px;
}
