.xrule line {
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}

.xrule text {
  shape-rendering: crispEdges;
  font-size: 0.8em;
}

.yrule line {
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}

.yrule text {
  shape-rendering: crispEdges;
  font-size: 0.8em;
}

.axes line {
  stroke: #000;
}

g#signals path {
  fill: none;
  stroke-width: 1.5px;
}
