svg g#grid {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xrule line {
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}

.xrule text {
  shape-rendering: crispEdges;
  font-size: 0.6em;
  font-family: "Lucida Sans Unicode", helveltica, sans-serif;
}

.yrule line {
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}

.yrule text {
  shape-rendering: crispEdges;
  font-size: 0.6em;
  font-family: "Lucida Sans Unicode", helvetica, sans-serif;
}

.axes line {
  stroke: #000;
}

g#signals path {
  fill: none;
  stroke-width: 1.5px;
}

g.overlay rect {
  fill: #0099ff;
  fill-opacity: 0.5;
  stroke: #0089ff;
  shape-rendering: crispEdges;
}
