.xrule line {
  stroke: #aaaaaa;
  shape-rendering: crispEdges;
}

.yrule line {
  stroke: #aaaaaa;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.line {
  fill: #fff;
}
